/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

/* Content */
#content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background: url("../img/parrilla-background.jpg");
  color: rgb(255, 255, 255);
  font-weight: 800;
  align-items: center;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 15px 30px;
  width: 100%;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-links a:hover {
  background-color: #555;
  color: #FFD700;
}

/* Footer */
.footer {
  background-color: #333;
  color: white;
  padding: 10px 0;
  font-size: 14px;
  width: 100%;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* Contact Section */
.contact-title {
  font-size: 28px;
  color: #fafafa;
  margin-bottom: 20px;
  font-weight: 800;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.contact-item {
  font-size: 1em;
  font-weight: 300;
  color: #fafafa;
  text-align: left;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 30px;
  max-width: 80%;
}

.input-field,
.textarea-field {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: solid 1px #FFD700;
  border-radius: 5px;
  background-color: #ffffff;
  color: #333;
  outline: none;
  text-align: left;
  margin: 5px;
}

.submit-button {
  padding: 10px 20px;
  background-color: #FFD700;
  color: #333;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.submit-button:hover {
  background-color: #333;
  color: #FFD700;
}

/* Iframe Map */
.iframe-map {
  width: 500px;
  height: 350px;
  max-width: 30vw;
  max-height: 30vh;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Social Media */
.social-media {
  margin-bottom: 30px;
}

.social-title {
  font-size: 24px;
  color: #fafafa;
  margin-bottom: 15px;
}

.social-link {
  color: #FFD700;
  font-weight: 600;
  text-decoration: none;
  margin-right: 15px;
  transition: color 0.3s ease;
}

.social-link:hover {
  color: #fafafa;
}

/* Content Wrap */
.content-wrap,
.menu,
.contact-wrap {
  padding: 20px;
  background: #33333392;
  border-radius: 20px;
  width: 80%;
}

.contact-wrap {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 50%;
}

/* Menu */
.menu-group-heading {
  margin: 0;
  padding-bottom: 1em;
  border-bottom: 2px solid #ccc;
}

.menu-group {
  display: grid;
  gap: 1.5em;
  padding: 1.5em 0;
}

.menu-item {
  display: flex;
}

.menu-item-img {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  object-fit: cover;
  margin-right: 1.5em;
}

.menu-item-text {
  flex-grow: 1;
}

.menu-item-heading {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.menu-item-desc {
  line-height: 1.6;
  font-weight: 300;
}

/* Responsive */
@media (max-width: 1250px) {
  .contact-wrap {
      flex-direction: column;
  }
}

@media screen and (min-width: 992px) {
  .menu-group {
      grid-template-columns: repeat(2, 1fr);
  }

  .menu-item-img {
      width: 125px;
      height: 125px;
  }
}

/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.5em;
}
